asset/n8n/RSS.json
{
  "name": "RSS",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=\n##{{ $json.creator }}##\n**{{ $json.pubDate }}**\n{{ $json['content:encodedSnippet'] }}\n{{ $('Free Games').item.json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        288,
        -64
      ],
      "id": "d379c198-8a16-453e-b4a8-a98cf22b0752",
      "name": "Discord",
      "webhookId": "82a36700-dfab-4184-9828-f975167d57c9",
      "alwaysOutputData": false,
      "credentials": {
        "discordWebhookApi": {
          "id": "qaTMJSyrSi976h8B",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.pubDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        64,
        -64
      ],
      "id": "7f32b8a6-c552-4f69-b677-b79686a89890",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "url": "https://www.indiegamebundles.com/feed/atom",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -384,
        -64
      ],
      "id": "7be45b37-a771-4c62-aa2b-d48aa5a203b8",
      "name": "Free Games"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        -64
      ],
      "id": "7692d4c3-a6e8-4e2c-a4aa-e174d64ce012",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22e11132-2199-433e-80bc-d60684f85dfc",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "free",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -160,
        -64
      ],
      "id": "dc33e1d3-e0bc-44ba-8f78-1ffd3de48f76",
      "name": "Filter [Free]"
    }
  ],
  "pinData": {},
  "connections": {
    "Discord": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Free Games": {
      "main": [
        [
          {
            "node": "Filter [Free]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Free Games",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter [Free]": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc434b19-f014-43e6-bb53-f04368cc2424",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6a115b488d21da875e867ce89d1e2409b4df7d4a4e03e5578c1a3e9aa7c49fa"
  },
  "id": "pigM0ub0yZjVymX0",
  "tags": []
}